<!DOCTYPE html>
<html>
  <head>
    <title>Car Details!</title>
  </head>
  <body>
    <body><align="center">
	<br />
	<br />
	<h2 align='center'>Enter Car Details!</h2>
      
	<br />
	<br />
      <form action="/new_car" method="post" align='center'>
		
		<div>Select the Operation  </div>
		<br />
		<input type="radio" name="operation" value="new" checked>New
		<input type="radio" name="operation" value="update">   Update
		<br />
		<br />
		<br />
        
		<br />
		<div>Car Model <input type="text" name="model" style="border: 1px solid black"></div>
		<br />	
		<br />
		<div>Year Manufactured (YYYY) <input type="text" name="year" style="border: 1px solid black"></div>
		<br />
		<br />
		<div>Vehicle Type  <select name="type">
		<option value="Compact">Compact</option>
		<option value="Medium">Medium</option>
		<option value="Large">Large</option>
		<option value="SUV">SUV</option>
		<option value="Truck">Truck</option>
		<option value="Van">Van</option>
		</select></div>
		<br />
		<br />
		<div>Select Availablity  </div>
		<br />
		<input type="radio" name="availablity" value="Y" checked>Yes
		<input type="radio" name="availablity" value="N">   No
		<br />
		
		<br />
		<br />
        <div><input type="submit" value="Submit Vehicle Details"></div>
      </form>
  </body>
</html>