<!DOCTYPE html>
<html>
  <head>
    <title>Car Rental Main Page!</title>
  </head>
  <body>
    <body><align="center">
	<br />
	<br />
	<h2 align='center'>Welcome to Jain Car Rentals!</h2>
      
		<br />
		<h3 align='center'>Please Click on the following Various Car Rental Operations !</h3>
		
		
	  <form action="/new_customer" method="post" align='center'>
		
		<br />
	
        <div><input type="submit" value="Create New Customer"></div>
      </form>
	  
	  <form action="/car" method="post" align='center'>
		
        
		<br />
        <div><input type="submit" value="Input New Car"></div>
      </form>
	  
	  <form action="/daily" method="post" align='center'>    
		<br />
        <div><input type="submit" value="Daily Car Rental Bookings"></div>
      </form>
	  
	  <form action="/weekly" method="post" align='center'>
		
        
		<br />
        <div><input type="submit" value="Weekly Car Rental Bookings"></div>
      </form>
	  
	  <form action="/return" method="post" align='center'>
		
		<br />
        <div><input type="submit" value="Return a Car"></div>
      </form>
	  <form action="/cartype" method="post" align='center'>
		
		<br />
	
        <div><input type="submit" value="Create/Modify Car Type"></div>
      </form>
  </body>
</html>