<!DOCTYPE html>
<html>
  <head>
    <title>New Customer!</title>
  </head>
  <body>
    <body><align="center">
	<br />
	<br />
	<h2 align='center'>Enter New Customer Data!</h2>
      
	<br />
	<br />
      <form action="/sign" method="post" align='center'>
		
        <div>Customer Name  <input type="text" name="name" style="border: 1px solid black"></div>
		<br />
		<div>Contact Number  <input type="text" name="contact" style="border: 1px solid black"></div>
		<br />
		<br />
        <div><input type="submit" value="Create New Customer"></div>
      </form>
  </body>
</html>